* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* barra de navegación */
header {
    background-color: #171765;
    color: #84899c;
    padding: 0; 
    border: none; 
    margin: 0; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    border: none; 
}
h1 {
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;
}

.logo img {
    max-height: 50px;
}

.icon img {
    max-height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer; 
}

/* Estilos de los productos */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 100px auto 100px; 
    padding: 0 20px;
    margin-top: 9%;
}

.product {
    border: 5px solid #b9c7ff;
    padding: 50px;
    margin: 50px;
    text-align: center;
    width: calc(40% - 20px); 
    box-sizing: border-box; 
}

/* altura de  imágenes */
.product img {
    max-width: 100%;
    height: 80%; 
    object-fit: cover; 
}

/* Margen de los contenedores de productos */
.product:nth-child(3n + 1) {
    margin-left: 40;
}

.product:nth-child(3n) {
    margin-right: 40;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.counter button {
    background-color: #0e0d31;
    color: rgb(131, 228, 102);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity {
    margin: 0 10px;
}

.buy-button {
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.discounted {
    text-decoration: line-through;
    color: #000000; 
}

/* Estilos del carrito */
.cart-sidebar {
    position: fixed;
    top: 200px; 
    right: -300px; 
    width: 300px;
    height: 100%;
    background-color: #889bb6;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    z-index: 998; 
}

.cart-sidebar.open {
    right: 0;
}

/* Botón de cruz en el sidebar del carrito */
.close-cart-button {
    position: absolute;
    top: 1%;
    right: 10px;
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Elementos del carrito */
.cart-items {
    list-style: none;
    padding: 0;
}

.cart-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-items img {
    max-width: 30px;
    max-height: 30px;
}

.checkout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

/* Otros estilos */
body {
    font-family: Arial, sans-serif;
    color: antiquewhite;
    margin: 0; 
    padding: 0;
    background-color:rgb(14, 77, 146); 
}

.product .remove-button {
    display: none;
}

.remove-button {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
}

.remove-button img {
    width: 20px; 
    height: auto; 
}
@keyframes fondoAnimado {
    20% { background-color: #81b1d1; }
    50% { background-color: #512e72; }
    100% { background-color: #3498db; }
}

body {
    animation: fondoAnimado 20s infinite;
}
